.shows-block-new {
  background-color: white;
  padding: 20px;
  min-height: 100vh;
}

.ticket-card-new {
  overflow: hidden;
  height: 80px;
  background: white;
  display: flex;
  align-items: center;
  border: 1px black solid;
  box-shadow: 3px 5px rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  margin: 20px;
  justify-content: center;
  & a:link, & a:visited {
    text-decoration: none;
    color:rgba(0, 0, 0, 0.975);
    font-weight: 600;
    letter-spacing: .75px;
  }
  & a:hover, & a:active {
    text-decoration: none;
    color:rgba(0, 0, 0, 0.975);

  }
  & p {
    margin: 0;
  }
}
