// Specific CSS for your home-page
.header-home {
  background-color: white;
}

.title-home {
  padding: 30px;
  h1 {
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    padding-top: 18px;
    line-height: 1.6;
  }
  h2 {
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    line-height: 1.6;
  }
}


.p-home {
  padding: 30px;
  margin-top: -20px;
}

.p-home p {
  font-family: 'Manrope', sans-serif;
  font-weight: lighter;
  text-align: center;
  margin-bottom: 0;
}
