.event-page {
  background-color: white;
}

.events-header {
  h1 {
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    font-family: 'Manrope';
    text-align: center;
  }
  h2 {
    font-size: 13px;
    font-weight: lighter;
    text-align: center;
    font-family: 'Manrope';
    text-align: center;
    text-decoration: underline;
  }
}

.events-body {
  padding: 30px 30px 0px 30px;
  h2 {
    font-family: 'Caveat';
    font-weight: unset;
    font-size: 24px;
    color: #EA4C88;
  }
  p {
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    color: black;
  }
}


.event-banner-price {
  background-color: #EA4C88;
  width: 100%;
  display: flex;
    justify-content: space-between;
}

.event-price {
  h2 {
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: white;
    padding: 20px 20px 0 30px;
    margin-bottom: -5px;
  }
  p {
    font-family: 'Caveat', cursive;
    font-weight: lighter;
    font-size: 40px;
    color: white;
    padding: 0 20px 0 30px;
  }
}

.events-picture img {
  width: 100%;
}

.event-people-btn {
  background-color: white;
  display: flex;
  justify-content: center;
  margin: -10px 10px 0 10px;
}
