.container-profile-public {
  padding: 20px;
    background-color: white;
}

#back-arrow {
  position: absolute;
  width: 50px;
  top: 0px;
  left: 15px;
}

.profile-public {
  position: relative;
  img {
    width: 100%;
    border-radius: 5px;
  }
  p {
    position: absolute;
    border-radius: 5px;
    bottom: 0px;
    left: 15px;
    font-family: Manrope, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: white;
    background: #84C4BB;
    padding: 1px 9px;
  }
}

.about-me-container {
  h2 {
    font-family: 'Caveat', cursive;
    font-size: 30px;
  }
  p {
    font-family: 'Manrope', sans-serif;
    font-size: 17px;
    margin-bottom: 20px;
  }
}

.interest-card-container {
  h2 {
    font-family: 'Caveat', cursive;
    font-size: 28px;
    margin-bottom: 20px;
  }
  p {
    font-family: 'Manrope', sans-serif;
    font-size: 0.7rem;
    color: white;
    margin-top: 5px;
    margin-bottom: 6px;
  }
}

.tag-container {
  cursor: pointer;
  display: inline-block;
  font-size: 0.7rem;
  border-radius: 5px;
  padding: 0.1rem 0.5rem;
  background-color: #84C4BB;
  color: white;
  border: 1px solid #e3f5f2;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
  p {
    font-size: 13px;
  }
}

.grid-tag {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.description-block {
  padding: 20px;
  height: 46vh;
  overflow-y: scroll;
  margin-top: 10px;
  h2 {
    font-family: 'Caveat', cursive;
    font-size: 30px;
    align-items: flex-start;
    font-weight: bold;
    margin-bottom: 10px;
  }
}

.show-container {
  h2 {
    font-family: 'Caveat', cursive;
    font-size: 30px;
    align-items: flex-start;
    font-weight: bold;
    margin-bottom: 10px;
  }
}

.favorite-show {
  overflow: hidden;
  height: 74px;
  background: white;
  display: flex;
  align-items: center;
  border: 1px black solid;
  box-shadow: 2px 3px rgba(0,0,0,.8);
  border-radius: 5px;
  /* margin: 20px; */
  margin-bottom: 23px;
  width: 100%;
  margin-left: 0;
}

.back-btn {
  border: 1px black solid;
  box-shadow: 2px 3px rgba(0,0,0,.8);
  width: 100px;
  margin: auto;
  margin-top: 20px;
  a {
    text-decoration: none;
    color: black;
    font-family: Manrope, sans-serif;
  }
}
