 <div id="message-<%= message.id %>">
  <small>
    <strong><%= message.sender_id %></strong>
    <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
  </small>
  <p>You: <%= message.content %></p>
</div>
