<div class="text-center">
  <div class="description-card-new">
    <h1>Discussions</h1>
    <p></p>
     <div class="back_conversation_show">
        <a href="/"><%= icon('fa-solid', 'arrow-left-long')%></a>
      </div>
  </div>
</div>


<div class="shows-block-new ">

  <% @conversations.map do |item| %>
    <div class="ticket-card-new">

      <a href="/conversations/<%= item.id %>"><p><%= item.name.capitalize %></p></a>

    </div>
  <% end %>

</div>
