


// Imports
@import "button";
@import "search_box";

// Component centered on page
.wrapper {
  width: 70vw;
  min-height: 100vh;
  margin: 0 auto;
  border: 1px solid red;
  background-color: antiquewhite;
}
