<div class="header-home">

  <div class="title-home">
    <h1>Choose an event near you and find a buddy </h1>
  </div>

  <div class="p-home">
    <p>No more saturday night <strong>alone</strong>. With last minute date, <strong>choose</strong> a show and <strong>find a buddy</strong> to go with you. </p>
  </div>

  <div data-controller="refresh-markers">
    <p>Search Bar</p>

    <div class="home-btn-category">

      <div class="home-btn-category btn"
          data-action="click->refresh-markers#passIdToMapController">
        <a class="category-link" href="#" id="music">Music</a>
      </div>

      <div class="home-btn-category btn"
          data-action="click->refresh-markers#passIdToMapController">
        <a class="category-link" href="#" id="art">Art & Theater</a>
      </div>

      <div class="home-btn-category btn"
          data-action="click->refresh-markers#passIdToMapController">
        <a class="category-link" href="#" id="sport">Sport</a>
      </div>

    </div>

    <%= render "shared/map" %>
  </div>

</div>
