<div class="header-home">

  <div class="title-home">
    <h1>Choose an event near you and find a buddy </h1>
  </div>

  <div class="p-home">
    <p>No more saturday night <strong>alone</strong>. With last minute date, <strong>choose</strong> a show and <strong>find a buddy</strong> to go with you. </p>
  </div>

<<<<<<< HEAD
  <div class="search">
    <%= form_with url: event_path, method: :get, class: "d-flex my-3" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Pick a city"
      %>
      <%= submit_tag "Search", class: "btn my-2 my-sm-0 btn btn-primary" %>
    <% end %>
  </div>
=======
  <div data-controller="refresh-markers">
    <p>Search Bar</p>
>>>>>>> 5d23af3f14aec08fc6cf5eeb1cd629cdd56e20be

    <div class="home-btn-category">

      <div class="home-btn-category btn"
          data-action="click->refresh-markers#update">
        <a class="category-link" href="#">Music</a>
      </div>

      <div class="home-btn-category btn"
          data-action="click->refresh-markers#update">
        <a class="category-link" href="#">Art & Theater</a>
      </div>

      <div class="home-btn-category btn"
          data-action="click->refresh-markers#update">
        <a class="category-link" href="#">Sport</a>
      </div>
    </div>

    <%= render "shared/map" %>
  </div>

</div>
