<div class="header-home">

  <div class="title-home">
    <h1>Choose an event near you and find a buddy </h1>
  </div>

  <div class="p-home">
    <p>No more saturday night <strong>alone</strong>. With last minute date, <strong>choose</strong> a show and <strong>find a buddy</strong> to go with you. </p>
  </div>

  <p>Search Bar</p>
  <p>map</p>

  <%= render "shared/eventbanner" %>
</div>
