<h2>Upcoming shows</h2>

<h2>Past shows</h2>

<%# <% @my_events.each do |event| %>
  <div>
    <%# <p><%= event.date %></p>
    <%# <p><%= event.title %></p>
    <%# <p><%= event.artist %></p>
  </div>
<%# <% end %>
