.event-banner {
  background-color: black;
  display: flex;
  text-align: center;
}

.event-banner-text p {
  color: white;
  font-family: 'Caveat', cursive;
  margin-bottom: 3.5px;
  font-size: 16px;
  text-align: center;
  margin-bottom: 15px;
}

.event-banner-text h2 {
  color: white;
  font-family: 'Manrope', sans-serif;
  padding-top: 10px;
  font-size: 18px;
  text-align: center;
}

.event-banner-text {
  background-color: black;
}

.btn-more-info {
  text-decoration: none;
  background-color: white;
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
  display: inline-block;
  border-radius: 10px;
  border: 4px double #000000;
  color: black;
  text-align: center;
  padding: 5px;
  width: fit-content;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0;
}

// .event-banner-image {
//   display: flex;
//   height: 148px;
//   text-align: center;
//   margin-left: 20px;
//   margin-top: 5px;
// }

.event-banner-regroup {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  margin: 0 auto;
}

#starting-price {
  font-size: 24px;
}
