.home-btn-category {
  font-family: 'Manrope', sans-serif;
    font-size: 0.9rem;
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-bottom: 15px;
    margin: 20px;
}

.b-home {
  background-color: black;
  color: white;
  text-decoration: none;
  margin: auto;
  padding: 10px;
  border-radius: 14px;
  margin-top: -20px;
  margin-bottom: 10px;
  width: 100px;
}

.b-home:hover {
  background-color: white;
  color: black;
  transition: 0.7s;
}
