.home-btn-category {
  font-family: 'Manrope', sans-serif;
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 15px;
}

.btn {
  background-color: black;
}

.btn a {
  color: white;
  text-decoration: none;
}
