.message-row {
  margin-bottom: 10px;
  padding: 8px;
  font-family: $manrope;
  font-size: 1.1rem;
}
.message-row h3{
  font-weight: 600;
  font-size: 1.3rem;
  display: inline-block;
}


// To style the message itself
.sender-style, .receiver-style {
  width: 60%;
  max-width: 250px;
  border-radius: 4px;
  padding: 8px;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sender-style {
  background-color: lightcoral;
}

.receiver-style {
  background-color: lightblue;
}
