.msg-btn {
  background-color: white;
  color: #797878;
  border-radius: 6px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-right: 10px;
  font-size: 1rem;
  font-family: 'Manrope';
  font-size: 12px;
}
