.modal-form {
  display: flex;
  padding-bottom: 43px;
  border-radius: 48px;
  background-color: transparent;
  align-items: center;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  padding-top: 75px;
}
.btn-close {
  margin: 20px;
}
