.navbar-container {
  background-color: white;
  padding: 31px;
  border-bottom: 1px black solid;
}

.navbar-toggler {
  z-index: 2;
  background: white;
}

.navbar {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  width: 275px;
  height: 58px;
}

.navbar-lmd {
  justify-content: space-between;
  background: white;
}

.navbar-lmd .navbar-collapse {
  flex-grow: 0;
  // margin-bottom: 100%;
  z-index: 2;
  height: 100vh;
}

.navbar-lmd .navbar-brand img {
  width: 40px;
}

.navbar-brand {
  font-family: 'Caveat', cursive;
  font-size: 23px;
}

.navbar-collapse {
  background-color: #F0CCD7;
}

.nav-link {
  color: rgba(0, 0, 0, 0.837);
  text-align: center;
  font-family: 'Manrope', sans-serif;
  padding: 20px;
}

.me-auto {
  margin-top: 10px;
}

.container-fluid {
  margin-bottom: 10px;
}

#terms {
  color: #ab6b7e;
  font-size: 12px;
  text-align: center;
  font-family: 'Manrope', sans-serif;
  padding: 20px;
  margin-top: 220px;
}
