.people-btn {
  background-color: white;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 35px;
  width: 35%;
  border-radius: 5px;
  border: 1px black solid;
  font-family: Manrope, sans-serif;
  font-size: 14px;
  border: 1px black solid;
  box-shadow: 3px 5px rgba(0,0,0,.7);
}
