.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 30px 0;
  object-fit: cover;
}
.profile-banner {
  width: 100%;
  background-size: cover;
  background-position: center;
  padding: 15px 0;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    margin: 0;
  }
}
.description-card {
  padding: 48px;
  background-color: black;
  color: white;
  border-radius: 10px;
  h2 {
    font-family: Caveat;
    font-weight: bolder;
    margin-bottom: 10px;
    font-size: xx-large;
    margin-top: -15px;
  }
  p {
    font-family: Manrope;
    margin: 0;
  }
}
.interest-card {
  padding: 25px;
  background-color: white;
  color: black;
  h2 {
    font-family: Caveat, cursive;
    font-size: 30px;
    margin-bottom: 35px;
  }
  p {
    font-family: Manrope, sans-serif;
    margin: 0;
    font-weight: bold;
  }
}
.ticket-card {
  overflow: hidden;
  height: 80px;
  background: white;
  display: flex;
  align-items: center;
  border: 1px black solid;
  box-shadow: 3px 5px rgba(0,0,0,.7);
  border-radius: 5px;
  margin: 20px;
}

.ticket-card img {
  height: 100%;
  width: 70px;
  object-fit: cover;
}
.ticket-card h3 {
  font-size: 14px;
  font-family: Manrope;
  margin: 0;
}
.ticket-card p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin: 0;
  font-family: Manrope;
}
.ticket-card .ticket-card-infos {
  padding: 16px;
  text-align: left;
}
.shows-block {
  background-color: white;
  padding: 20px;
  h2 {
    font-family: Manrope, sans-serif;
    font-size: 22px;
    margin-bottom: 30px;
  }
}
.grid {
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  justify-items: center;
  // flex-wrap: wrap;
  justify-content: center;

}
.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}

.tag {
  padding: 8px;
  color: white;
  background-color: #84C4BB;
  width: fit-content;
  display: inline-block;
}

.btn-flat {
  color: black;
  padding: 8px 16px;
  border-radius: 10px;
  background-color: white;
  transition: background 0.3s ease;
  width: fit-content;
  font-family: 'Manrope', sans-serif;
  font-size: 13px;
  margin-bottom: 10px;
  border: 1px black solid;
  box-shadow: 2px 2px rgba(0,0,0,.7);
  margin-top: -5px;
  text-decoration: none;
}
.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
.all_conversation-new{
  margin: 0 auto;
  width: 98%;
  height: 53px;
  color: white;
  border-width: 5px;
  border-style: solid;
  border-image:
    linear-gradient(
      to right,
      #e0c1f0f5,
      rgba(0, 0, 0, 0)
    ) 1 100%;
  overflow-y: scroll;
  display:flex;
  align-items: center;
  text-align: center;
  &::-webkit-scrollbar {
    display: none;
  }
}
