.profile-picture {
  width: 80px;
  border-radius: 50%;
}
.profile-background {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.profile-banner {
  background-color: black;
}
.profile-card h2 {
    color: black
}
