.ticket {
  overflow: hidden;
  height: 100px;
  background: white;
  box-shadow: 3 3 30px rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  border: 2px black solid;
  border-radius: 5px;
  margin: 10px;
}

.ticket img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}
.ticket h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}
.ticket h3 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}
.ticket p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}
.ticket .ticket-infos {
  padding: 16px;
  text-align: left;
}
.shows {
  padding: 20px;
  border-radius: 5px;
  height: 42vh;
  overflow-y: scroll;
  h2 {
    font-family: 'Caveat', cursive;
    font-size: 25px;
    padding-bottom: 20px;
  }
  h3 {
    font-family: 'Manrope', sans-serif;
    font-size: 12px;
    font-weight: bold;
  }
  p {
    font-family: 'Manrope', sans-serif;
    font-size: 10px;
    font-weight: bold;
    padding-bottom: 3px;
  }
}

.shows-container {
  padding-top: 25px;
  background-color: white;
}

#current-shows {
  background-color: white;
  border: 1px black solid;
  box-shadow: 2px 2px rgba(0,0,0,.7);
}

#past-shows {
  background-color: black;
}
