.ticket {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 3 3 30px rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  border: 2px black solid;
  border-radius: 5px;
  margin: 10px;
}

.ticket img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}
.ticket h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}
.ticket h3 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}
.ticket p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}
.ticket .ticket-infos {
  padding: 16px;
}
.shows {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}
