.no-match {
  color: #383637;
  font-family: 'Manrope', sans-serif;
}
.result_total {
  color: #383637;
  font-family: 'Manrope', sans-serif;
}
.good-score {
  color: #e74f89;
  font-family: 'Manrope', sans-serif;
}
.top-score {
  color: #e72a72;
  font-family: 'Manrope', sans-serif;
}
