.container {
  width: fit-content;
  padding: 1em;
  margin: 20px;
  background-color: #fff;
  border-radius: 4.2px;
  border: #84C4BB 1px solid;
  box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.5);
  .btn {
    color: white;
    background-color: #84C4BB;
    margin-right: 10px;
  }
  h2 {
    text-align: center;
  }
}
.back {
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  background-color: black;
  color: white;
}
.form-check-input.is-valid ~ .form-check-label {
  color: black;
}
.form-check-input.is-valid {
  border-color: black;
}
.form-check-input.is-valid:checked {
  background-color: #84C4BB;
}
.form-control.is-valid {
  border-color: #84C4BB;
}
.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  flex-direction: column;
}
